*{
  margin: 0;
  padding: 0;
}

body {
    background-color: #36453b;
    text-align: center;
    margin: 0;
    min-height: 100vh;
  }
.container{
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;


}
.game{
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin ;
}
.btn{
  height: 18vmin;
  width: 18vmin;
  background-color: #c2c1a5;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0 1rem rgba(0 , 0 , 0 ,1);
  font-size: 8vmin;
  color: #515751;

}
.reset {
  padding: 1rem;
  font-size: 1.25rem ;
  background-color: #596869;
  border-radius: 1rem;
  border: none;

}
.NewGame{
  padding: 1rem;
  font-size: 1.25rem ;
  background-color: #596869;
  border-radius: 1rem;
  border: none;

}
#winmsg{
  font-size: 10vmin;
  color: antiquewhite;
}

.winbox{
  height: 100vmin;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hide{
display: none;
}